.grid-container {
    display: grid;
    /* grid-template-columns:  */
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "siderbar content"
}

.nav-container {
    background: rgb(0, 89, 255);
    background: linear-gradient(90deg, rgba(0, 89, 255, 1) 30%, rgba(9, 9, 121, 1) 60%, rgba(2, 0, 36, 1) 100%);
    color: white;
    font-size: xx-large;
    grid-area: header;
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
}

.grid-item {
    color: orange;
    font-size: large;
}

.each-day {
    color: white;
    background-color: midnightblue;
    padding: 10px 30px 10px 30px;
}

.current-day {
    color: black;
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-style: solid;
}

.search-btn {
    background-color: #7CB9E8;
    color: white;
    width: 258px;
    padding: 4.5px;
    border: 2px;
    border-radius: 3px;
}

#search-input {
    margin: 0px 0px 20px 0px;
    width: 250px;
    border-radius: 3px;
    padding: 8px 2px;
}

.previous-searched {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.all-days {
    display: flex;
    justify-content: space-between;
}